@font-face {
  font-family: 'Sansation_B';
  src: url('fonts/7fonts_ru_Sansation_Bold.eot');
  src: url('fonts/7fonts_ru_Sansation_Bold.eot') format('embedded-opentype'), url('fonts/7fonts_ru_Sansation_Bold.woff2') format('woff2'), url('fonts/7fonts_ru_Sansation_Bold.woff') format('woff'), url('fonts/7fonts_ru_Sansation_Bold.ttf') format('truetype'), url('fonts/7fonts_ru_Sansation_Bold.svg#7fonts_ru_Sansation_Bold') format('svg');
}
@font-face {
  font-family: 'Sansation_L';
  src: url('fonts/7fonts_ru_Sansation_Light.eot');
  src: url('fonts/7fonts_ru_Sansation_Light.eot') format('embedded-opentype'), url('fonts/7fonts_ru_Sansation_Light.woff2') format('woff2'), url('fonts/7fonts_ru_Sansation_Light.woff') format('woff'), url('fonts/7fonts_ru_Sansation_Light.ttf') format('truetype'), url('fonts/7fonts_ru_Sansation_Light.svg#7fonts_ru_Sansation_Light') format('svg');
}
@font-face {
  font-family: 'Sansation_R';
  src: url('fonts/7fonts_ru_Sansation_Regular.eot');
  src: url('fonts/7fonts_ru_Sansation_Regular.eot') format('embedded-opentype'), url('fonts/7fonts_ru_Sansation_Regular.woff2') format('woff2'), url('fonts/7fonts_ru_Sansation_Regular.woff') format('woff'), url('fonts/7fonts_ru_Sansation_Regular.ttf') format('truetype'), url('fonts/7fonts_ru_Sansation_Regular.svg#7fonts_ru_Sansation_Regular') format('svg');
}
@font-face {
  font-family: 'Marske';
  src: url('fonts/Marske.eot');
  src: url('fonts/Marske.eot') format('embedded-opentype'), url('fonts/Marske.woff2') format('woff2'), url('fonts/Marske.woff') format('woff'), url('fonts/Marske.ttf') format('truetype'), url('fonts/Marske.svg#Marske') format('svg');
}
@font-face {
  font-family: 'journalism';
  src: url('fonts/journalism2.eot');
  src: url('fonts/journalism2.eot') format('embedded-opentype'), url('fonts/journalism2.woff2') format('woff2'), url('fonts/journalism2.woff') format('woff'), url('fonts/journalism2.ttf') format('truetype'), url('fonts/journalism2.svg#journalism2') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl500';
  src: url('fonts/exljbrisMuseoCyrl500.eot');
  src: url('fonts/exljbrisMuseoCyrl500.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl500.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl500.woff') format('woff'), url('fonts/exljbrisMuseoCyrl500.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl500.svg#exljbrisMuseoCyrl500') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl500Italic';
  src: url('fonts/exljbrisMuseoCyrl500Italic.eot');
  src: url('fonts/exljbrisMuseoCyrl500Italic.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl500Italic.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl500Italic.woff') format('woff'), url('fonts/exljbrisMuseoCyrl500Italic.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl500Italic.svg#exljbrisMuseoCyrl500Italic') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl700';
  src: url('fonts/exljbrisMuseoCyrl700.eot');
  src: url('fonts/exljbrisMuseoCyrl700.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl700.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl700.woff') format('woff'), url('fonts/exljbrisMuseoCyrl700.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl700.svg#exljbrisMuseoCyrl700') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl700Italic';
  src: url('fonts/exljbrisMuseoCyrl700Italic.eot');
  src: url('fonts/exljbrisMuseoCyrl700Italic.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl700Italic.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl700Italic.woff') format('woff'), url('fonts/exljbrisMuseoCyrl700Italic.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl700Italic.svg#exljbrisMuseoCyrl700Italic') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl900';
  src: url('fonts/exljbrisMuseoCyrl900.eot');
  src: url('fonts/exljbrisMuseoCyrl900.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl900.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl900.woff') format('woff'), url('fonts/exljbrisMuseoCyrl900.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl900.svg#exljbrisMuseoCyrl900') format('svg');
}
@font-face {
  font-family: 'MuseoCyrl900Italic';
  src: url('fonts/exljbrisMuseoCyrl900Italic.eot');
  src: url('fonts/exljbrisMuseoCyrl900Italic.eot') format('embedded-opentype'), url('fonts/exljbrisMuseoCyrl900Italic.woff2') format('woff2'), url('fonts/exljbrisMuseoCyrl900Italic.woff') format('woff'), url('fonts/exljbrisMuseoCyrl900Italic.ttf') format('truetype'), url('fonts/exljbrisMuseoCyrl900Italic.svg#exljbrisMuseoCyrl900Italic') format('svg');
}
html,
body {
  overflow-x: hidden;
  background-color: #dfe3ee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #4c75a3;
}
header a:hover {
  text-decoration: none;
}
header h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  color: white;
  font-family: 'Sansation_B';
}
header .enter {
  margin-top: 25px;
}
header h5 {
  text-align: right;
  color: white;
  font-family: Verdana;
}
#home {
  padding-top: 30px;
  /*# sourceMappingURL=main.css.map */
}
#home a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  cursor: default;
  color: #838ea7;
  text-transform: uppercase;
}
#home nav {
  width: 100%;
  top: 30%;
  left: 42%;
  background-color: #FEFEFE;
  position: absolute;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 200px;
  margin-left: -100px;
  border: solid 1px #cccccc;
}
#home nav ul li ul {
  display: none;
  margin-top: 20px;
  border: solid 1px #8b9dc3;
}
#home nav ul li ul li {
  display: block;
}
#home nav ul li ul li:hover {
  background-color: #dfe3ee;
}
#home nav ul li ul li svg {
  margin-left: 20px;
  margin-right: 20px;
}
#home nav li li {
  background-color: #FEFEFE;
}
#home .menu1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom: 1px #d7d9dd solid;
  position: relative;
}
#home .menu1 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home .menu1:hover a {
  color: #6d6c6c;
}
#home .menu1:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home .menu1:hover #menu1 {
  fill: #6d6c6c;
}
#home .menu3 {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px #d7d9dd solid;
}
#home .menu3 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home .menu3:hover a {
  color: #6d6c6c;
}
#home .menu3:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home .menu3:hover #gear {
  fill: #6d6c6c;
}
#home .menu2 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home .menu2:hover a {
  color: #6d6c6c;
}
#home .menu2:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home .menu2:hover #mail {
  fill: #6d6c6c;
}
#home .hamburger {
  margin-right: 20px;
  margin-left: 20px;
}
#home .arrow {
  width: 0;
  height: 0;
  margin-left: 164px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #4c75a3;
  position: absolute;
  top: -9px;
}
#home .fa-chevron-up {
  margin-left: 70px;
}
#home .marked {
  background-color: #4c75a3;
  border-radius: 2px;
}
#home .marked1 {
  color: #ffffff;
}
#home .rotate {
  moz-transition: all 0.3s linear;
  webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#home .rotate.down {
  moz-transform: rotate(180deg);
  webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#home .instr-vid {
  background-color: white;
  height: 400px;
  padding-top: 20px;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
#home h3 {
  font-family: 'MuseoCyrl900';
  font-size: 30px;
  color: #4c75a3;
}
#home .instr-text-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #cccccc;
  margin-bottom: 30px;
}
#home .instr-text-1 h4 {
  font-family: 'MuseoCyrl900';
  color: #3b5998;
}
#home .instr-text-1 p {
  font-family: Verdana;
  color: #274e72;
}
#home .instr-text-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
#home .instr-text-2 h4 {
  font-family: 'MuseoCyrl900';
  color: #3b5998;
}
#home .instr-text-2 p {
  font-family: Verdana;
  color: #274e72;
}
#home .instr-text-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #cccccc;
  margin-bottom: 30px;
}
#home .instr-text-3 h4 {
  font-family: 'MuseoCyrl900';
  color: #3b5998;
}
#home .instr-text-3 p {
  font-family: Verdana;
  color: #274e72;
}
#home-cities {
  padding-top: 30px;
}
#home-cities a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  cursor: default;
  color: #838ea7;
  text-transform: uppercase;
}
#home-cities nav {
  width: 100%;
  top: 30%;
  left: 42%;
  background-color: #FEFEFE;
  position: absolute;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 200px;
  margin-left: -100px;
  border: solid 1px #cccccc;
}
#home-cities nav ul li ul {
  display: none;
  margin-top: 20px;
  border: solid 1px #8b9dc3;
}
#home-cities nav ul li ul li {
  display: block;
}
#home-cities nav ul li ul li:hover {
  background-color: #dfe3ee;
}
#home-cities nav ul li ul li svg {
  margin-left: 20px;
  margin-right: 20px;
}
#home-cities nav li li {
  background-color: #FEFEFE;
}
#home-cities .menu1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom: 1px #d7d9dd solid;
  position: relative;
}
#home-cities .menu1 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home-cities .menu1:hover a {
  color: #6d6c6c;
}
#home-cities .menu1:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home-cities .menu1:hover #menu1 {
  fill: #6d6c6c;
}
#home-cities .menu3 {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px #d7d9dd solid;
}
#home-cities .menu3 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home-cities .menu3:hover a {
  color: #6d6c6c;
}
#home-cities .menu3:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home-cities .menu3:hover #gear {
  fill: #6d6c6c;
}
#home-cities .menu2 svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
#home-cities .menu2:hover a {
  color: #6d6c6c;
}
#home-cities .menu2:hover .blue-box {
  background-color: #4c75a3;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px;
}
#home-cities .menu2:hover #mail {
  fill: #6d6c6c;
}
#home-cities .hamburger {
  margin-right: 20px;
  margin-left: 20px;
}
#home-cities .arrow {
  width: 0;
  height: 0;
  margin-left: 164px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #4c75a3;
  position: absolute;
  top: -9px;
}
#home-cities .fa-chevron-up {
  margin-left: 70px;
}
#home-cities .marked {
  background-color: #4c75a3;
  border-radius: 2px;
}
#home-cities .marked1 {
  color: #ffffff;
}
#home-cities .rotate {
  moz-transition: all 0.3s linear;
  webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#home-cities .rotate.down {
  moz-transform: rotate(180deg);
  webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#home-cities .cities {
  background-color: white;
  height: 400px;
  padding-top: 20px;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
