/*Sansation*/
@font-face {
    font-family: 'Sansation_B';
    src: url('fonts/7fonts_ru_Sansation_Bold.eot');
    src: url('fonts/7fonts_ru_Sansation_Bold.eot') format('embedded-opentype'),
         url('fonts/7fonts_ru_Sansation_Bold.woff2') format('woff2'),
         url('fonts/7fonts_ru_Sansation_Bold.woff') format('woff'),
         url('fonts/7fonts_ru_Sansation_Bold.ttf') format('truetype'),
         url('fonts/7fonts_ru_Sansation_Bold.svg#7fonts_ru_Sansation_Bold') format('svg');
}
@font-face {
    font-family: 'Sansation_L';
    src: url('fonts/7fonts_ru_Sansation_Light.eot');
    src: url('fonts/7fonts_ru_Sansation_Light.eot') format('embedded-opentype'),
         url('fonts/7fonts_ru_Sansation_Light.woff2') format('woff2'),
         url('fonts/7fonts_ru_Sansation_Light.woff') format('woff'),
         url('fonts/7fonts_ru_Sansation_Light.ttf') format('truetype'),
         url('fonts/7fonts_ru_Sansation_Light.svg#7fonts_ru_Sansation_Light') format('svg');
}
@font-face {
    font-family: 'Sansation_R';
    src: url('fonts/7fonts_ru_Sansation_Regular.eot');
    src: url('fonts/7fonts_ru_Sansation_Regular.eot') format('embedded-opentype'),
         url('fonts/7fonts_ru_Sansation_Regular.woff2') format('woff2'),
         url('fonts/7fonts_ru_Sansation_Regular.woff') format('woff'),
         url('fonts/7fonts_ru_Sansation_Regular.ttf') format('truetype'),
         url('fonts/7fonts_ru_Sansation_Regular.svg#7fonts_ru_Sansation_Regular') format('svg');
}
/*Marske*/
@font-face {
    font-family: 'Marske';
    src: url('fonts/Marske.eot');
    src: url('fonts/Marske.eot') format('embedded-opentype'),
         url('fonts/Marske.woff2') format('woff2'),
         url('fonts/Marske.woff') format('woff'),
         url('fonts/Marske.ttf') format('truetype'),
         url('fonts/Marske.svg#Marske') format('svg');
}
/*jounalism*/
@font-face {
    font-family: 'journalism';
    src: url('fonts/journalism2.eot');
    src: url('fonts/journalism2.eot') format('embedded-opentype'),
         url('fonts/journalism2.woff2') format('woff2'),
         url('fonts/journalism2.woff') format('woff'),
         url('fonts/journalism2.ttf') format('truetype'),
         url('fonts/journalism2.svg#journalism2') format('svg');
}
/*Museo*/
@font-face {
    font-family: 'MuseoCyrl500';
    src: url('fonts/exljbrisMuseoCyrl500.eot');
    src: url('fonts/exljbrisMuseoCyrl500.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl500.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl500.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl500.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl500.svg#exljbrisMuseoCyrl500') format('svg');
}
@font-face {
    font-family: 'MuseoCyrl500Italic';
    src: url('fonts/exljbrisMuseoCyrl500Italic.eot');
    src: url('fonts/exljbrisMuseoCyrl500Italic.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl500Italic.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl500Italic.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl500Italic.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl500Italic.svg#exljbrisMuseoCyrl500Italic') format('svg');
}
@font-face {
    font-family: 'MuseoCyrl700';
    src: url('fonts/exljbrisMuseoCyrl700.eot');
    src: url('fonts/exljbrisMuseoCyrl700.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl700.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl700.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl700.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl700.svg#exljbrisMuseoCyrl700') format('svg');
}
@font-face {
    font-family: 'MuseoCyrl700Italic';
    src: url('fonts/exljbrisMuseoCyrl700Italic.eot');
    src: url('fonts/exljbrisMuseoCyrl700Italic.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl700Italic.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl700Italic.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl700Italic.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl700Italic.svg#exljbrisMuseoCyrl700Italic') format('svg');
}
@font-face {
    font-family: 'MuseoCyrl900';
    src: url('fonts/exljbrisMuseoCyrl900.eot');
    src: url('fonts/exljbrisMuseoCyrl900.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl900.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl900.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl900.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl900.svg#exljbrisMuseoCyrl900') format('svg');
}
@font-face {
    font-family: 'MuseoCyrl900Italic';
    src: url('fonts/exljbrisMuseoCyrl900Italic.eot');
    src: url('fonts/exljbrisMuseoCyrl900Italic.eot') format('embedded-opentype'),
         url('fonts/exljbrisMuseoCyrl900Italic.woff2') format('woff2'),
         url('fonts/exljbrisMuseoCyrl900Italic.woff') format('woff'),
         url('fonts/exljbrisMuseoCyrl900Italic.ttf') format('truetype'),
         url('fonts/exljbrisMuseoCyrl900Italic.svg#exljbrisMuseoCyrl900Italic') format('svg');
}

html, body {
  overflow-x: hidden;
  background-color:	#dfe3ee;
}

* {
	margin: 0;
  	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #4c75a3;
	a:hover {
		text-decoration: none;
	}
	h1 {
		text-transform: uppercase;
		margin-bottom: 40px;
		color: white;
		font-family: 'Sansation_B';
	}
	.enter {
			margin-top: 25px;
		}
	h5 {
		text-align: right;
		color: white;
		font-family: Verdana;
	}
}
.men {
	a {
	  text-decoration: none;
	  width: 100%;
	  height: 100%;
	  font-family: 'Open Sans';
	  font-size: 14px;
	  cursor: default;
	  color: #838ea7; 
	  text-transform: uppercase;
	}
	nav 
	{
	  width: 100%;
	  top: 30%;
	  left: 42%;
	  background-color: #FEFEFE;
	  position: absolute;
	  border-radius: 2px;
	  display: inline-block;
	  height: 50px;
	  line-height: 50px;
	  width: 200px; 
	  margin-left: -100px;
	  border: solid 1px #cccccc;
	}

	nav ul li ul {
	  display: none;
	  margin-top: 20px; 
	border: solid 1px #8b9dc3;}
	  nav ul li ul li {
	    display: block; }
	    nav ul li ul li:hover {
	      background-color: #dfe3ee; }
	    nav ul li ul li svg {
	      margin-left: 20px;
	      margin-right: 20px; }

	nav li li {
	  background-color: #FEFEFE; }

	.menu1 {
	  border-top-left-radius: 1px;
	  border-top-right-radius: 1px;
	  border-bottom: 1px #d7d9dd solid;
	  position: relative; }
	  .menu1 svg {
	    width: 20px;
	    height: 20px;
	    position: relative;
	    top: 4px; }
	  .menu1:hover a {
	    color: #6d6c6c; }
	  .menu1:hover .blue-box {
	    background-color: #4c75a3;
	    position: absolute;
	    margin-left: 0;
	    height: 100%;
	    width: 4px; }
	  .menu1:hover #menu1 {
	    fill: #6d6c6c; }

	.menu3 {
	  border-bottom-left-radius: 1px;
	  border-bottom-right-radius: 1px;
	  border-top: 1px #d7d9dd solid; 
	}
	  .menu3 svg {
	    width: 20px;
	    height: 20px;
	    position: relative;
	    top: 4px; }
	  .menu3:hover a {
	    color: #6d6c6c; }
	  .menu3:hover .blue-box {
	    background-color: #4c75a3;
	    position: absolute;
	    margin-left: 0;
	    height: 100%;
	    width: 4px; }
	  .menu3:hover #gear {
	    fill: #6d6c6c; }

	.menu2 svg {
	  width: 20px;
	  height: 20px;
	  position: relative;
	  top: 4px; }

	.menu2:hover a {
	  color: #6d6c6c; }

	.menu2:hover .blue-box {
	  background-color: #4c75a3;
	  position: absolute;
	  margin-left: 0;
	  height: 100%;
	  width: 4px; }

	.menu2:hover #mail {
	  fill: #6d6c6c; }

	.hamburger {
	  margin-right: 20px;
	  margin-left: 20px; }

	.arrow {
	  width: 0;
	  height: 0;
	  margin-left: 164px;
	  border-right: 9px solid transparent;
	  border-left: 9px solid transparent;
	  border-bottom: 9px solid #4c75a3;
	  position: absolute;
	  top: -9px; }

	.fa-chevron-up {
	  margin-left: 70px; }

	.marked {
	  background-color: #4c75a3;
	  border-radius: 2px; }

	.marked1 {
	  color: #ffffff; 
	}

	.rotate 
	{
	  moz-transition: all 0.3s linear;
	  webkit-transition: all 0.3s linear;
	  transition: all 0.3s linear; 
	}

	.rotate.down 
	{
	  moz-transform: rotate(180deg);
	  webkit-transform: rotate(180deg);
	  transform: rotate(180deg); 
	}
}
#home {
	padding-top: 30px;
	
	.instr-vid {
		background-color: white;
		height: 400px;
		padding-top: 20px;
		border-radius: 5px;
		border: solid 1px #cccccc;
	}
	h3 {
		font-family: 'MuseoCyrl900';
		font-size: 30px;
		color: #4c75a3;
	}
	.instr-text {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: white;
		border-radius: 5px;
		border: solid 1px #cccccc;
		margin-bottom: 30px;
		h4 {
			font-family: 'MuseoCyrl900';
			color: #3b5998;
		}
		p {
			font-family: Verdana;
			color: 	#274e72;
		}
	}
}

#home-cities {
	padding-top: 30px;
	.cities {
		background-color: white;
		height: 400px;
		padding-top: 20px;
		border-radius: 5px;
		border: solid 1px #cccccc;
		padding-left: 10px;
		padding-right: 10px;
		.city {
		    img {
			    border-radius: 3px;
			    border: solid 1px #cccccc;
		    }
		    border: solid 1px #99ccff;
		    border-radius: 5px;
		}
		h3 {
			color: #3b5998;
		}
		button {
			border: none;
			background-color: white;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 5px;
			color: #3b5998;
			font-weight: bold;
			margin-bottom: 10px;
		}
		button:hover {
			background-color: #dfe3ee;
		}
		img {
			margin-top: 5px;
		}
	}
}
/*@media(min-width: 993px) and (max-width: 1200px) {}
@media(min-width: 0px) and (max-width: 320px) {}
@media(min-width: 321px) and (max-width: 480px) {}
@media(min-width: 481px) and (max-width: 3768px) {}
@media(min-width: 769px) and (max-width: 992px) {}
@media(min-width: 993px) and (max-width: 1200px) {}*/